<h1>Credits</h1>
<div class="side">
    <div class="line">
        <h2>Socials</h2>
        <div>
            <img src="assets/linkedin.png" alt="linkedin">
            <a target="_blank" href="https://www.linkedin.com/in/kaloyan-malechkanov-0b7813187/">LinkedIn</a>
        </div>
        <div>
            <img src="assets/discord.png" alt="discord">
            <a target="_blank" href="https://discord.gg/xtnfKkx">Discord</a>
        </div>
        <div>
            <img src="assets/instagram.png" alt="instagram">
            <a target="_blank" href="https://www.instagram.com/kokiflexa/">Instagram</a>
        </div>
        <div>
            <img src="assets/facebook.png" alt="facebook">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100010652400162">Facebook</a>
        </div>
        <div>
            <img src="assets/youtube.png" alt="youtube">
            <a target="_blank" href="https://www.youtube.com/channel/UCo20HJ3GV_oekSS5dODHYdA">YouTube</a>
        </div>
        <div>
            <img src="assets/github.png" alt="github">
            <a target="_blank" href="https://github.com/Kmalechkanov">GitHub</a>
        </div>
        <div>
            <img src="assets/gmail.png" alt="gmail">
            <a href="mailto:KaloqnMalechkanov@gmail.com">KaloqnMalechkanov@gmail.com</a>
        </div>
    </div>
    <div class="line">
        <h2>Used libraries</h2>
        <div>
            <img src="assets/url.png" alt="url">
            <a target="_blank" href="https://www.npmjs.com/package/@angular/cli">Angular</a>
        </div>
        <div>
            <img src="assets/url.png" alt="url">
            <a target="_blank" href="https://www.npmjs.com/package/pixi.js">PixiJS</a>
        </div>
        <div>
            <img src="assets/url.png" alt="url">
            <a target="_blank" href="https://www.npmjs.com/package/express">Express</a>
        </div>
        <div>
            <img src="assets/url.png" alt="url">
            <a target="_blank" href="https://www.npmjs.com/package/socket.io">Socket.io</a>
        </div>
        <div>
            <img src="assets/url.png" alt="url">
            <a target="_blank" href="https://www.npmjs.com/package/rxjs">Rsjs</a>
        </div>
    </div>
    <div class="line">
        <h2>Used materials</h2>
        <div>
            <img src="assets/url.png" alt="url">
            <a target="_blank" href="https://socket.io/docs/v4/emit-cheatsheet">socket.io cheatsheet</a>
        </div>
        <div>
            <img src="assets/url.png" alt="url">
            <a target="_blank" href="https://pixijs.io/guides/basics/getting-started.html">PixiJS get started</a>
        </div>
        <div>
            <img src="assets/url.png" alt="url">
            <a target="_blank" href="https://studiolacosanostra.github.io/2019/02/11/How-to-run-PIXI-in-angular-app/">PixiJS in angular example</a>
        </div>
        <div>
            <img src="assets/url.png" alt="url">
            <a target="_blank" href="https://medium.com/codex/create-a-multiplayer-game-using-angular-and-pixi-js-part-1-7fafccc2c996">Strange ass snake in angular with PixiJs</a>
        </div>
    </div>
    <div class="line">
        <h2>Repositories</h2>
        <div>
            <img src="assets/github.png" alt="github">
            <a target="_blank"
                href="https://github.com/Kmalechkanov/snake-multiplayer-express">snake-multiplayer-express</a>
        </div>
        <div>
            <img src="assets/github.png" alt="github">
            <a target="_blank"
                href="https://github.com/Kmalechkanov/snake-multiplayer-angular">snake-multiplayer-angular
            </a>
        </div>
    </div>
</div>