<div style="text-align:center" class="content">
<h2>Here are some links to help you start: Stats</h2>
<ul>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
</ul>

<button *ngIf="!joined" (click)="joinGame()">Join</button>
<button *ngIf="joined" (click)="disconnectGame()">Disconnect</button>
<button (click)="resetGame()">Reset Game</button>