<div style="text-align:center" class="content">
    <div class="buttons">
        <app-button *ngIf="!joined" (click)="joinGame()" text="Join" backgroundColor="#35642e"></app-button>
        <app-button *ngIf="joined" (click)="disconnectGame()" text="Disconnect" backgroundColor="#91143f"></app-button>
        <app-button (click)="resetGame()" text="Reset Game" backgroundColor="#302f49"></app-button>
    </div>

    <div id="canvasDiv"></div>

    <div class="controls">
        <div class="line">
            <div class="space"></div>
            <app-button (click)="triggerControl(38)" text="Up" backgroundColor="#302f49"></app-button>
            <div class="space"></div>
        </div>
        <div class="line">
            <app-button (click)="triggerControl(37)" text="Left" backgroundColor="#302f49"></app-button>
            <div class="space"></div>
            <app-button (click)="triggerControl(39)" text="Right" backgroundColor="#302f49"></app-button>
        </div>
        <div class="line">
            <div class="space"></div>
            <app-button (click)="triggerControl(40)" text="Down" backgroundColor="#302f49"></app-button>
            <div class="space"></div>
        </div>
    </div>
</div>